{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">
        Country - {{countinfo.countryyy.name}}
        <i class="{{ countinfo.countryyy.flag_css }} "></i>
      </h1>
      <div class="info">
        <h6>Total Cases <span>{{countinfo.total_cases}}</span></h6>
        <h6>Total Deaths <span>{{countinfo.total_deaths}}</span></h6>
        <h6>New Deaths <span>{{countinfo.new_deaths}}</span></h6>
        <h6>ICU Patients <span>{{countinfo.icu_patients}}</span></h6>
        <h6>Population <span>{{countinfo.population}}</span></h6>
        <h6>
          Population Density <span>{{countinfo.population_density}}</span>
        </h6>
        <h6>Median Age <span>{{countinfo.median_age}}</span></h6>
        <h6>Age 65 Older <span>{{countinfo.aged_65_older}}</span></h6>
        <h6>Age 70 Older <span>{{countinfo.aged_70_older}}</span></h6>
        <h6>GDP Per Capita <span>{{countinfo.gdp_per_capita}}</span></h6>
        <h6>Extreme Poverty <span>{{countinfo.exteme_poverty}}</span></h6>
        <h6>
          Diabetes Prevalence <span>{{countinfo.diabetes_prevalence}}</span>
        </h6>
        <h6>Female Smokers <span>{{countinfo.female_smokers}}</span></h6>
        <h6>Male Smokers <span>{{countinfo.male_smokers}}</span></h6>
        <h6>
          Hand washing facilities
          <span>{{countinfo.handwashing_facilities}}</span>
        </h6>
        <h6>
          Hospital Beds Per Thousand
          <span>{{countinfo.hospital_beds_per_thousand}}</span>
        </h6>
        <h6>Life Expectancy <span>{{countinfo.life_expectancy}}</span></h6>
        <h6>
          Human Development Index
          <span>{{countinfo.human_development_index}}</span>
        </h6>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
